html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(106, 0, 244, 1);
  background: linear-gradient(90deg, rgba(106, 0, 244, 1) 0%, rgba(229, 0, 164, 1) 100%);
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

#container {
  width: min(400px, 80vw);
  border: none;
}

form {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid rgba(255, 255, 255, 0.75);
}

#display {
  width: calc(min(400px, 80vw) - 0.6em);
  grid-column: span 4;
  padding-right: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans',sans-serif;
  text-align: right;
}

#display,
.button {
  background: transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
}

.button {
  border: 1px solid rgba(255, 255, 255, 0.33);
  cursor: pointer;
}

.mathButtons {
  background: rgba(152, 0, 214, 1);
}

.button:hover {
  background: rgba(106, 0, 244, 0.5)
}

.button:focus,
.mathButtons:focus {
  color: rgba(255, 255, 255, 1);
}

.mathButtons:hover {
  background: rgba(229, 0, 164, 0.5);
}

/* fix for iOS making these these rounded */
.button,
.mathButton,
.button:focus;
.mathButton:focus {
  border-radius: 0;
}