html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: sans-serif;
  background: rgb(106, 0, 244);
  background: linear-gradient(90deg, rgba(106, 0, 244, 1) 0%, rgba(229, 0, 164, 1) 100%);
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

#container {
  width: min(400px, 80vw);
  height: min(400px, 80vw);
}

form {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#display {
  width: calc(min(400px, 80vw) - 0.6em);
  grid-column: span 4;
  padding-right: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  font-size: 2rem;
  color: white;
  text-align: right;
}

.button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: rgba(106, 0, 244, 0.5)
}

.mathButtons {
  background: rgba(106, 0, 244, 0.5);
}

.mathButtons:hover,
.mathButtons:focus {
  background: rgba(229, 0, 164, 1);
}